/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Google Fonts*/
body {
	font-family: 'Open sans', sans-serif;
}

/*Navigation Bar*/
/* 1rem = 16px (pixel is the default font size) */
nav {
	/*Creates space from between the ul tag and the nave element*/
	padding: 0.8rem;
	/*Creates space between the nave and the intro section*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*Margin vs Padding*/
/*Margin is best used to create space between elements*/
/*Padding is best used when creating space between an element border and its content*/

nav	.nav, nav .nav-logo{
/*	Creates space between the ul and the nav elements*/
	margin: 0.5rem;
	/*Changes elements to inline elements*/
	display: inline;
}

#intro	{
/* Creates space between the contents of the intro section and it's border	*/
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	/*padding: 2rem 10% 3rem; (shorthand code)*/
	text-align: center;
}

.header{
	/*best used when horizontally aligning text instead of using margin and padding*/
	text-align: center;
}

#intro h2, #intro p{
	/*Creates space between the contents of the intro section*/
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	/*Changes the thickness of text*/
	font-weight: bold;
	background-color: #C2195B;
	border-radius: 25px;
	font-size: 1rem;
	/*Creates space between the button text and the border*/
	padding: 1rem;
}

/*Succeed info section*/
#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2{
	/*Creates space between the header and the card section*/
	margin-bottom: 1rem;
}

#succeed-info h3{
	text-align: left;
	/*creates space between the h3 tags and the paragraph tags*/
	margin-bottom: 1rem;
}

#succeed-info .card{
	/*Allows the cards to appear beside each other*/
	display: inline;
	/*aligns element with the tallest element in line*/
	/*used with the inline-block value*/
	vertical-align: top;
	/*allows for the cards to have equal height that adjust with the content*/
	min-height: 175px;
	/*measurement is based on equally dividing the parent container's width*/
	/*only use 30% and not 33.33% because of margin to avoid overflow and horizontal scrolling*/
	width: 30%;
	/*creates horintal spacing between cards*/
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}


/*ACTIVITY*/
/*CSS Rule for the pre-footer section to create space for the content*/
#pre-footer {
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#pre-footer{
	background-color: #002540;
	color: white;
}


#pre-footer h3{
	margin-bottom: 0.5rem;
}

#pre-footer p{
	margin-bottom: 0.2rem;
}

#pre-footer div{
	display: inline-block;
}

#pre-footer div{	
	min-height: 100px;
	width: 20%;
	vertical-align: top;
}

.footer-copyright{
	text-align: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}







